* {
  box-sizing: border-box;
}
body {
  color: blue;
  margin: 0 auto;
  padding: 20px;
}
.app {
  background-color: aquamarine;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
}
tr,
td {
  width: 20px;
  height: 20px;
  color: white;
  font-weight: bold;
  font-size: 9px;
}
.div-1 {
  background-color: greenyellow;
}
.div-2 {
  background-color: pink;
}
.div-3 {
  background-color: purple;
}
.div-4 {
  background-color: blue;
}
.div-5 {
  background-color: red;
}
.div-6 {
  background-color: orange;
}
